.container{
    color: brown;
    text-align: center;

}
.p{
    
}
.c{
    text-align: left;
    color: black;
}
.cre{
    display: inline;
    background-color: aquamarine;
    border: 2px solid purple;
    color: black;
    height: 15px;
    
}
.container-2{
    color: black;
    text-align: left;
}
.v{
    color: black;
    border: 2px solid red;
    display: block;
    background-color:burlywood;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
.pre{
    color: black;
    text-align: center;
    display: block;
    background-color: burlywood;
    height: 200px;
    width: 200px;
    border: 2px solid red;
    border-radius: 5px;
}
.container-s{

}
.img{
opacity: 0.7;


}
.img:hover{
    cursor: pointer;
    opacity: 2;
}