
/*h1{
	color: tomato;
	font-size: 50px;
	text-decoration: none;
}*/
a{
	text-decoration: none;
}
a:hover{
	color: green;
	font-family: sans-serif;
}
a:visited{
	color:black;
}
img{
width: 250px;
height: auto;

}
.table-t{

}
th, td {
	border: 1px solid black;
	border-radius: 15px;
  }
.city {
/*	background-color: hotpink;*/
	color: slateblue;
	border: 5px solid red;
	margin: 15px;
	padding: 15px;
	border-radius: 40px;
width: 500px;

#bg-image{
	background-image: url("images/blog_6.jpg");
	background-repeat: no-repeat;
/*	background-size: cover;*/
}
.