.content{
   border: 5px solid red;
   background-color: brown;
   font-style: oblique;
   font-family: 'Courier New', Courier, monospace;
   margin-bottom: 20px;
   border-radius: 25px;

}
#h_three{
    color: blueviolet;
    width: 500px;
    text-align: center;
    border: 3px solid goldenrod;
 }
 .submit_btn :hover{
   background-color: blueviolet;
   color: azure;
   border-color: brown;
 }
 #container{
   width: 500px;
   border: 5px solid brown;
   background-color:hotpink;
   margin-bottom: 25px;
   margin-right: 5px;
   border-radius: 50px;
 }
 #container_2{
   width: 400px;
   border: 5px solid red;
   background-color: blueviolet;
   border-radius: 100px;
   font color: solid black;
 }
 .submit_btn:hover{
  text-align: center;
  background-color: blue;
  color: blanchedalmond;
  border-color: aqua;
 }